body { font-family: 'Roboto', sans-serif; }

.container {
    position: relative;
    width: 1000px;
    height: 600px;
}

canvas {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* game interface */
.hud {
    background-color: transparent;
    position: absolute;
    width: 280px;
    height: 50px;
    left: 25px;
    top: 25px;
    color: #F8F8FF;
    display: block;
    margin: auto;  
    text-align: right;
    font-size: 12;
}

.stat { display: inline; }

.game {
    background-color: transparent;
    position: absolute;
    width: 280px;
    height: 250px;
    left: 375;
    top: 200;
    color: #F8F8FF;
    display: block;
    font-size: 14;
}

.text{
    margin-bottom: 15px;
    color: #F8F8FF;
    display: block;
    width: 280px;
    height: 100px;
}

.btn-row {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.btn {
    color: #F8F8FF;
    width: 45%;
}

.timer {
    display: block;
    width: 100%;
}

/* things */
.round {
    /* set border styling */
    background-color: #222a12;
    background-color: rgba(34, 42, 18, 0.85);
    border-color: #19200e;
    border-color: rgba(25, 32, 14, 1);
    border-style: solid;
    border-width: 3px;

    /* set border roundness */
    border-radius: 15px;
}
